:root {
  --mar-nav: rgb(248, 249, 250);
  --mar-sidebar: rgb(17, 39, 62);
  --mar-navblue: rgb(27, 114, 232);
  --mar-bell: rgb(233, 125, 36);
  --mar-white: white;
  --mar-search: rgb(236, 236, 236);
}

.bg_mar_nav {
  background-color: var(--mar-nav);
}
.bg_mar_sidebar {
  background-color: var(--mar-sidebar);
}
.bg_mar_navblue {
  background-color: var(--mar-navblue);
}
.bg_mar_bell {
  background-color: var(--mar-bell);
}
.bg_mar_white {
  background-color: var(--mar-white);
}
.bg_mar_search {
  background-color: var(--mar-grey);
}
/*--------------------------------- color -----------------------------*/
.over {
  overflow: hidden;
}
.form-control {
  background-color: var(--mar-search);
  border: none;
}
.container {
  width: 20%;
}
.fa-bell {
  color: var(--mar-bell);
}
/*---------------------------------header -----------------------------*/
ul {
  list-style: none;
}
.icon_bar {
  background-image: url();
}
.navbar_bottom {
  margin-top: 42rem;
}
.navbar_vertical {
  background-color: var(--mar-sidebar);
  background-image: url(/img/sidebar-bg.png);
}
/*------------------------------navbar_vertical --------------------------*/
.big_vertical_box {
  border: 3px solid royalblue;
}
/*----------big_vertical_box------INVISIBILE  come base---------------------*/
.horizonatal_bar {
  background-color: rgb(10, 211, 20);
  height: 10%;
}
/*-----------horizonatal_bar-------------------*/
.bigbox_contenitor {
  border: 6px solid rgb(222, 225, 65);
  height: 90%;
}
/*------------bigbox_contenitor---INVISIBILE  come base generale------------------*/
.vertical_box_contenitor_left {
  border: 6px solid rgb(8, 46, 214);
}
/*------vertical_box_contenitor---INVISIBILE  come base---rettangolare verticale-------*/
/*.g {
  background-color: white;
  border: 3px solid rgb(214, 8, 197);
}*/

.top_box_left {
  background-color: rgba(204, 118, 118, 0.349);
  height: 60%;
}

.bottom_box_left {
  background-color: rgb(220, 240, 163);
  height: 40%;
}
.nome {
  border: 1px solid red;
}
/*---------end zone LEFT SIDE top and bottom----------------*/

.vertical_box_contenitor_right {
  border: 6px solid rgb(8, 156, 214);
}
.top_box_right {
  background-color: rgb(148, 106, 106);
  height: 20%;
}
.bottom_box_right {
  background-color: rgb(180, 135, 112);
  height: 80%;
}
/*---------end zone RIGHT SIDE top and bottom----------------*/
