:root {
  --mar-nav: rgb(248, 249, 250);
  --mar-sidebar: rgb(17, 39, 62);
  --mar-navblue: rgb(27, 114, 232);
}

.bg_mar_nav {
  background-color: var(--mar-nav);
}
.bg_mar_sidebar {
  background-color: var(--mar-sidebar);
}
.bg_mar_navblue {
  background-color: var(--mar-navblue);
}

/*--------------------------------- color -----------------------------*/

.header {
  background-color: aqua;
  height: 50px;
}

.b {
  background-color: rgb(255, 0, 0);
}

.c {
  background-color: rgb(21, 7, 7);
}

.d {
  background-color: rgb(181, 211, 10);
  height: 10%;
}

.e {
  background-color: rgb(214, 215, 205);
  height: 90%;
}

.f {
  background-color: rgb(60, 183, 165);
}

.g {
  background-color: white;
}

.h {
  background-color: rgb(100, 98, 98);
  height: 60%;
}

.i {
  background-color: rgb(154, 155, 151);
  height: 40%;
}
.nome {
  border: 1px solid red;
}

.l {
  background-color: rgb(244, 112, 112);
  height: 20%;
  overflow-y: scroll;
}

.m {
  background-color: rgb(220, 82, 12);
  height: 80%;
}
