:root {
  --mar-nav: rgb(248, 249, 250);
  --mar-sidebar: rgb(17, 39, 62);
  --mar-banner: rgb(27, 114, 232);
  --mar-bell: rgb(233, 125, 36);
  --mar-white: white;
  --mar-search: rgb(236, 236, 236);
}
/*-----------color------*/

.bg_mar_nav {
  background-color: var(--mar-nav);
}
.bg_mar_sidebar {
  background-color: var(--mar-sidebar);
}
.bg_mar_banner {
  background-color: var(--mar-banner);
}
.bg_mar_bell {
  background-color: var(--mar-bell);
}
.bg_mar_white {
  background-color: var(--mar-white);
}
.bg_mar_search {
  background-color: var(--mar-grey);
}
/*---------bd-----*/
.debug .wrapper {
  background-color: var(--mar-white);
}
.debug .banner {
  height: 150px;
}
.debug[class^="col-"] {
  height: 300px;
  border: 1px dashed;
}
/*--------debug-----*/

main {
  width: calc(100%-5rem);
  overflow-y: auto;
}

.wrapper {
  display: flex;
  height: calc(100vh -70px);
}
/*-------main--------------*/
.fa-bell {
  color: var(--mar-bell);
}
#app_header {
  height: 60px;
}
.form-control {
  background-color: var(--mar-search);
}
/*-------header--------------*/

b {
  font-size: smaller;
}
ul {
  list-style: none;
}
li:hover {
  background-color: rgba(255, 255, 255, 0.541);
}
.sidebar {
  background-image: url(/img/sidebar-bg.png);
}
.sidebar_bottom {
  margin-top: 40rem;
}
.sidebar {
  width: 8rem;
}
.icon_bar,
.Admin {
  margin-right: -2rem;
}
/*-------sidebar----------------*/
.text_left > span {
  font-size: 40px;
}
.text_left {
  text-align: inherit;
}

.btn {
  border-radius: 2rem;
  background-color: rgba(34, 34, 95, 0.356);
  height: 1.5rem;
  line-height: 0.5rem;
}
.btn_Nuovo_studente {
  border: 2px solid white;
  background-color: transparent;
  height: 2rem;
  border-radius: 0.5rem;
}
/*-------banner---------------*/
img {
  max-width: 100%;
}

.card-body > span {
  font-size: smaller;
}
.list-group p {
  font-size: 13px;
  color: rgb(17, 0, 255);
}
/*-------card container--------------*/

@media screen and (min-width: 992px) {
  .sidebar {
    width: 16rem;
  }
}
/*-------@media screen and (min-width: 992px)------------*/
